# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch models (only if large and kept elsewhere)
# *.pth

# Logs
logs/
*.log

# OS specific files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env
